.createbutton{
    background-color: #43b72a;
    border: #43b72a;
    border-radius: 5px;
    color: white;
    font-family: klavika-web, sans-serif;
    font-weight: bold;
    width: 200px;
    height: 40px;
    cursor: pointer;
}

.createbutton:hover{
    background-color: #419f2b;
}

.modal{
    justify-content: space-around;
    align-items: center;
    width:100%;
    height: 60vh;
    border: white;
    border-radius: 5px;
}

.signupform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signupbutton{
    background-color:#00a400;
    color:#fff;
    border: none;
    border-radius: 6px;
    height: 36px;
    font-size: 18px;
    font-weight: bold;
    width: 250px;
}

.fname{
    padding: 11px;
    width: 180px;
    margin-right: 9px;
}
.lname{
    padding: 11px;
    width: 180px;
}
.name input[type="text"] {
    background-color: #f5f6f7;
    border: 1px solid darkgray;
    border-radius: 5px;
}
.emailinput{
    background-color: #f5f6f7;
    padding: 11px;
    width:390px;
    border: 1px solid darkgray;
    border-radius: 5px;
    margin-bottom: 12px;
}
.passinput{
    background-color: #f5f6f7;
    padding: 11px;
    width:390px;
    border: 1px solid darkgray;
    border-radius: 5px;
    margin-bottom: 12px;
}

.disclaim{
    padding-left: 10px;
    color: darkgray;
    font-size: 12px;
    font-family: klavika-web, sans-serif;
    margin-bottom: 30px;
    width: 85%;
}

.name{
    justify-content: space-around;
    margin-bottom: 12px;
}

.modalhead{
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
}
.birth{
    background-color: #ffffff;
    padding: 11px;
    width: 130px;
    border: 1px solid darkgray;
    border-radius: 5px;
    margin-bottom: 30px;
    margin: 5px;
}
.gender{
    display: flex;
    margin-bottom: 15px;
}
.genderitem{
    background-color: #ffffff;
    padding: 11px;
    width: 107px;
    border: 1px solid darkgray;
    border-radius: 5px;
    margin-bottom: 30px;
    margin: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: klavika-web, sans-serif;
    font-size: 13px

}

.errors{
    font-family: klavika-web, sans-serif;
    color: red;
    font-size: 12px;
}