.commentitemwrapper{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.commentitemwrapwrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 60%
}

.commentitem{
    background-color: #EFF2F5;
    border-radius: 8px;
    display: inline-block;
    min-width:70px;
    width: fit-content;
    justify-content: flex-start;
    align-items: space-between;
    padding: 7px;
    margin-top: 15px;
    margin-left: 10px;
    margin-bottom: 3px;
    font-size: 12px;
}
.commentindex{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.smallprofile{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-left: 10px;
    cursor: pointer;
}
.smallprofile:hover{
    opacity: 80%;
}

.comname{
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 2px;
    cursor: pointer;
}
.comname:hover{
    text-decoration: underline;
}

.comlikebutton{
    display: flex;
    justify-content: space-between;
    width:100%;
    height: 5px;
    top: 0;
    font-size: 11px;
    font-weight: bold;
    cursor: pointer;
    color: #64676B;
    margin-bottom: 9px;
    margin-left: 15px;
}

.likeword:hover{
    text-decoration: underline;
}

.comlikeblue{
    color:#2078F4
}

/* .comlikebuttonwrapper{
    display: flex;
    justify-content: space-between;
} */
.comlikeico{
    position: relative;
    color: black;
    /* padding-left: 17px;
    right: -26%; */
    top: -300%;
    /* float: right; */
    /* overflow: hidden; */
    /* z-index: 100; */
    font-size: 9px;
    font-weight: lighter;
}
.notblue{
    color: purple;
}

.commwrapper{
    width: fit-content;
}
.comdropdown{
    position: absolute;
    right: 48%;
    width: 110px;
    height: 50px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 5px lightgray;
    margin-top: -1%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    font-size: 10px;
}
.comdropdown ul{
    padding-top: 10px;
    padding-left: 20px;
    height: 100%;
    width: 85%;
    cursor: pointer;
}
.comdropdown ul:hover{
    background-color: #f2f2f2;
}
.commentdots{
    cursor: pointer;
}
