.search-dropdown{
    position: absolute;
    top: -5px;
    left: -25px;
    width: 380px;
    height: fit-content;
    border: 1px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px lightgray;
    overflow:hidden;
    background-color: #fff;
    font-size: 30px;
    font-family: klavika-web, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 3%;
    z-index: -1;

}

.filteruseritem{
    display: flex;
    align-items: flex-start;
    padding: 10px;
    cursor: pointer;
    width: 100%;
}
.filteruseritem:hover{
    background-color: #f2f2f2;
}
.tinyicon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 30px;
}
.usersearchname{
    margin-left: 10px;
    font-size: 17px;
}