#modal {
    position: fixed;
    top: 10px;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  #modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, .8);
  }
  
  #modal-content {
    top: 10%;
    max-height: 200px;
    position: absolute;
    background-color:white;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
  }

  .signupheader{
    font-family: klavika-web, sans-serif;
    line-height: 38px;
    font-weight: bold;
    font-size: 32px;
  }
  .signupsub{
    font-family: klavika-web, sans-serif;
    font-size: 15px;
    color: #606770;
}