.postbox{
    font-family: klavika-web, sans-serif;
    height: fit-content;
    width: 500px;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: #fff;
}

.postUser{
    font-size: 17px;
    font-weight: bold;
    padding: 15px;
    display: flex;
    width: 100vw;
}
.postbody{
    font-size: 15px;
    padding: 55px;
    display: flex;
    flex-direction: column;
}

.postbar{
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    padding-right: 5px;
    font-size: 12px;
    margin-left: 9px;
    margin-right: 9px;
}

.commentinput{
    padding: 7px;
    margin-left: 17px;
    margin-top: 10px;
    background-color: #EFF2F5;
    border: none;
    border-radius: 15px;
    width: 450px;
    margin-bottom: 5px;
}
.commentfocused{
    padding: 7px;
    margin-left: 17px;
    margin-top: 10px;
    background-color: #EFF2F5;
    border: none;
    border-radius: 15px;
    width: 450px;
    margin-bottom: 5px;
    padding-bottom: 30px;
}
.likeico{
    width: 180px;
    display: flex;
    justify-content: center;
    padding: 6px;
    cursor: pointer;
}

.commentico{
    width: 180px;
    display: flex;
    justify-content: center;
    padding: 6px;
    cursor: pointer;
}

.likeico:hover{
    background-color: lightgray;
    border-radius: 5px;

}

.likedico{
    color: #0073F5;
    width: 180px;
    display: flex;
    justify-content: center;
    padding: 6px;
    cursor: pointer;
}
.commentico:hover{
    background-color: lightgray;
    border-radius: 5px;
}

.postdots{
    cursor: pointer;
    display: flex;
    margin-left: 290px;
}
.postdots:hover{
    background-color: #f2f2f2;
    border-radius: 50%;
}

.postdropdown{
    position: absolute;
    right: 37%;
    width: 200px;
    height: 70px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 5px lightgray;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
div ul{
    position: relative;
}

.commentsend{
    position: absolute;
    right: 37%;
    margin-top: 36px;
    padding: 3px;
    cursor: pointer;
    color: #1C74F2;
}

.comdisabled{
    color: #BEC3C9;
    pointer-events: none;
    opacity: 0.7;
}

.commentsend:hover{
    background-color: lightgray;
    border-radius: 50%;
}

.postdropdown ul{
    padding-top: 10px;
    padding-left: 20px;
    height: 100%;
    width: 90%;
    cursor: pointer;
}
.postdropdown ul:hover{
    background-color: #f2f2f2;
}

.postphoto{
    max-width:400px;
    max-height:500px;
}

.postname{
    margin-left: 8px;
}