.profilewrapper{
    width: 100%;
    height: 500px;
    background: linear-gradient(to top, #ffffff 55%, #20211B 100%);
}

.proftophalf{
    width: 100vw;
    height: 70vh;
    margin-top: 4.7vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, #ffffff 55%, #20211B 100%);
}
.profilebottomhalf{
    background-color: #F1F2F5;
    width: 100%;
    border-top: 2px solid #F1F2F5;
    display: flex;
    justify-content: center;
    /* border-top: 2px solid lightgray; */

}
.cover{
    background-color: #EFF2F5;
    width: 73vw;
    height: 66%;
    border-radius: 5px;
}
.profileinfo{
    background-color: #ffffff;
    width: 73vw;
    height:34%;
    display: flex;
    align-items: center;
}

.profileavatar{
    position: absolute;
    width: 14%;
    height: 25%;
    border-radius: 50%;
    border: 7px solid white;
    margin-left: 30px;
    margin-bottom: 5%;
    cursor: pointer;
}
.camera{
    position: absolute;
    left: 25%;
    font-size: 3100px;
    border-radius: 50%;
    top: 63%;
    background-color: #E3E6EA;
    border: 5px solid #E3E6EA;
    width: 2%;
    height: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.camera:hover{
    background-color: #d8dade;
    border: 5px solid #d8dade;
}

.profilename{
    /* height: 20%; */
    font-size: 30px;
    font-weight: bold;
    font-family: klavika-web, sans-serif;
    display: flex;
}
.profilebottomleft{
    /* background-color: blue; */
    width: 31.39vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.profilebottomright{
    /* background-color: red; */
    width: 41.61vw;
}

.wholeprofile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    background: #ffffff;
}

.profile{
    cursor: pointer;
}

.coverbutton{
    background-color: #52554E;
    opacity: 88%;
    font-family: klavika-web, sans-serif;
    width: 13%;
    height: 8%;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    cursor: pointer;
    /* z-index: 1; */
    position: relative;
    right: -85%;
    top: -15%;
}
.coverbutton:hover{
    background-color: darkgray;
}
.profilecover{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.bio{
    width: 100%;
    height: 400px;
    background-color: #ffffff;
    margin-top: 14%;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin-bottom: 20px;
    font-family: klavika-web, sans-serif;
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.intro{
    font-size: 20px;
    font-weight: bold;
    padding-left: 30px;
    padding-top: 20px;
    margin-bottom: 6%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.addbio{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    width: 90%;
    height: 10%;
    background-color: #E3E6EA;
    border-radius: 5px;
    font-weight: 530;
    cursor: pointer;
}

.addbio:hover{
    background-color: lightgray;
}
.profilenamecolumn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 25%;
}

.profilenumfriends{
    margin-top: 5%;
    color: #64676B;
    font-family: klavika-web, sans-serif;
    font-weight: 400;
}

.friendbutton{
    color: white;
    background-color: #1a73e3;
    border-radius: 5px;
    font-family: klavika-web, sans-serif;
    font-size: 15px;
    padding: 9px;
    margin-left: 3%;
    cursor: pointer;
    display: flex;
    width: 7.5%;
    justify-content: space-between;
    align-items: space-between;
}

.friendbutton:hover{
    background-color: blue;
}

.friendsent{
    color: white;
    background-color: #1a73e3;
    border-radius: 5px;
    font-family: klavika-web, sans-serif;
    font-size: 15px;
    padding: 9px;
    margin-left: 3%;
    cursor: pointer;
    display: flex;
    width: 13%;
    justify-content: space-between;
    align-items: space-between;
}

.currentfriend{
    background-color: #E3E6EA;
    border-radius: 5px;
    font-family: klavika-web, sans-serif;
    font-size: 15px;
    padding: 9px;
    margin-left: 3%;
    cursor: pointer;
    display: flex;
    width: 7.5%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.currentfriend:hover{
    background-color: lightgray ;
}

.deletetext{
    padding: 10px;
    display: flex;
    justify-content: center;
    font-family: klavika-web, sans-serif;
    font-weight: 100;
    font-size: 14px;
    margin-bottom: 15%;
}
.cancel{
    font-family: klavika-web, sans-serif;
    color: #1a73e3;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.cancel:hover{
    background-color: lightgray;
}
.buttonrow{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 5%;
    margin-right: 5%;
}
.confbutton{
    color: white;
    background-color: #1a73e3;
    border-radius: 5px;
    font-family: klavika-web, sans-serif;
    font-size: 15px;
    padding: 9px;
    margin-left: 3%;
    cursor: pointer;
    display: flex;
    width: 9.5%;
    justify-content: space-between;
    align-items: space-between;
}
.confbutton:hover{
    background-color: blue;
}