.profilewrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 70vh;
    background: #ffffff;
background: linear-gradient(to top, #ffffff 50%, #B1B6B1 100%);

}
.profilebottomhalf{
    background-color: #F1F2F5;
    height: 30vh;
    border-top: 2px solid #F1F2F5;
}
.cover{
    background-color:lightgray;
    width: 73vw;
    height: 50vh;
    border-radius: 5px;
}
.profileinfo{
    /* background-color: #ffffff; */
    width: 73vw;
    height:20vh;
}

.profileavatar{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 10px solid white;
}
.camera{
    position: absolute;
    left: 25%;
    font-size: 31px;
    border-radius: 50%;
    background-color: #E3E6EA;
    border: 5px solid #E3E6EA;
    width: 2%;
    height: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.camera:hover{
    background-color: #d8dade;
    border: 5px solid #d8dade;
}