.postIndex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    padding-top: 30px;
    width: 35vw;
    margin-left: 34vw;
}
.profileIndex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    padding-top: 30px;
    width: 35vw;
    margin-left: 7vw;
}