.profbutton{
    color: rgb(12,142,241);
    font-size: 40px;
    position: fixed;
    left: 1%;
    cursor: pointer;
}

.profile{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.navbar{
    padding-top: 5px;
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    height: 5.8vh;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1;
}
.rightmenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.rightnav{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 2%;
}
#smallico{
    font-size: 18px;
    cursor: pointer;
    padding: 10px;
    margin-right: 8px;
    border-radius: 50%;
    background-color: #E3E6EA;
    border: 2px solid #E3E6EA;
}

#smallico:hover{
    background-color: gray;
    border: 2px solid gray;
}

.searchbar{
    position: fixed;
    left: 4%;
    padding: 13px;
    background-color: #EFF2F5;
    border: none;
    border-radius: 15px;
    width: 250px
}
.profile-dropdown{
    position: absolute;
    top: 40px;
    right: -25px;
    width: 350px;
    height: 210px;
    border: 1px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px lightgray;
    overflow:hidden;
    background-color: #fff;
    font-size: 30px;
    font-family: klavika-web, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
.profile-dropdown ul{
    height: 100%;
    font-size: 18px;
    width: 100%;
    padding-left: 40px;
    padding-top: 20px;
    border-radius: 5px;
}
.profile-dropdown ul:hover{
    background-color: #f2f2f2;
}
.logout{
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
}
